/* style.css */
body {
  font-family: "Raleway", "Open Sans", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding-top: 60px;
}
nav {
  margin: auto;
}

.navbar {
  list-style: none;
  background-color: rgba(12, 30, 43, 0.8);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  max-width: 90%;
  margin-top: 1rem;
  /* border-color: rgb(181, 160, 129); */
  border-radius: 5px;
  opacity: 0.99;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
.navbar ul {
  display: flex;
  margin: 0;
  text-align: end !important;
}
.navbar li {
  padding: 0 10px;
  display: inline-block;
}
.navbar a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}
.navbar a:hover {
  /* scale: 1.2; */
  transform: scale(1.2);
}
.navbar a:hover .navdata{
  background-color: #0c1e2b; /* Dark gray background on hover */
}

.navdata {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  background-color: #0c1e2b;
  border-radius: 100%;
  padding: 10px 5px 5px 10px;
}

.logo img {
  height: 35px;
}
li a img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}
section {
  padding: 20px;
  /* margin: 20px; */
  /* border-bottom: 1px solid #ccc; */
}

#hero {
  height: 100vh;
  background-image: url("/images/bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -4rem;
}

#hero .heroInside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#hero .heroInside h1 {
  font-size: 39px;
  margin-bottom: 0;
}
#hero .heroInside p {
  font-size: 20px;
}

#hero .heroInside .btn {
  background-color: #fff;
  border: none;
  padding: 20px 40px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
#hero .heroInside .btn:hover {
  background-color: #393333;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
#about .about1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about h2 {
  margin: 50px;
  font-size: xx-large;
}
#about .about1 {
  margin: 40px 30px;
  align-items: center;
  color: #3a3838;
}
#about .about1 img {
  max-width: 600px;
  border-radius: 15px;
}

#about .about1 > div {
  width: 50%;
  padding: 0 20px;
}
h1 {
  font-size: xx-large;
}
p {
  font-size: 20px;
}
#contact {
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically */
  align-items: center;
  margin: 40px;
  margin-bottom: 80px;
  text-align: center;
  width: 90%;
  height: 50vh;
}

#contact input {
  background-color: #f0efef;
  padding: 20px 40px 20px 20px;
  border: none;
  margin-right: 12px;
}
#contact form {
  width: 100%;
}
#contact input:focus {
  border: 0.4px solid black;
}

#contact button {
  background-color: #272626;
  padding: 20px 40px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
#hero .button:hover {
  background-color: #393333;
  cursor: pointer;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
#contact button:active {
  border: 2px solid black;
}

input[type="email"] {
  width: 30%;
  padding: 10px 20px;
  border: 0.1px solid #cac4c4;
  border-radius: 4px;
  border-width: 0px;
  font-size: 16px;
  transition: border-color 0.3s;
}
input[type="email"]:focus {
  border-color: rgb(58, 58, 58);
  outline: none;
  border-width: 0px;
}

#pricing {
  margin: 40px;
  text-align: center;
  width: 90%;
}

.inner-pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
  height: 80vh;
}
.inner-pricing > div {
  width: 33%;
  text-align: start;
  padding: 0 20px;
}
.inner-pricing img {
  width: 100%;
  border-radius: 15px;
}
#pricing .card {
  display: flex;
  justify-content: space-between;
}
#pricing .card h1 {
  margin-bottom: 0;
}
#pricing .card p {
  font-size: 22px;
}
#pricing .card h2 {
  font-size: 22px;
  font-weight: 600;
}
.thirdpriceCard p {
  height: 50px;
}
#pricing .footer {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  color: #9b9191;
  font-weight: 300;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  #about1 {
    display: block;
  }
}

@media (max-width: 768px) {
  #about h2 {
    margin: 0;
  }
  #about .about1 {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  #about .about1 > div {
    width: 100%;
  }

  #about .about1 > div img {
    width: 95%;
  }
  #contact {
    width: auto;
  }
  #contact h1 {
    font-size: x-large;
  }
  #pricing {
    margin: 0;
  }
  .inner-pricing {
    display: block;
    width: auto;
    height: auto;
  }
  .inner-pricing > div {
    width: auto;
    .inner-pricing {
      display: block;
    }
  }
  #pricing .footer {
    display: block;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input-container input {
    width: 90%;
    margin: 15px 0;
  }
}